{% extends 'base.html.twig' %}

{% block title %} CS Training {% endblock %}

{% block body %}
    <div class="container">
        <div class="d-grid gap-2 mt-3 mb-3">
            <a class="btn btn-primary" href="{{ path('training.create.page') }}">Добавить тренировку</a>
        </div>
        <br>

        {% for training in trainings %}
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1>Тренировка #{{ training.id }}</h1>
                        <h3>День: {{ training.formatDate }}</h3>
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ path('training.edit.page', {'id': training.id}) }}" style="float: right;" class="btn btn-warning">Редактировать</a>
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="align-middle text-center">Название</th>
                    <th scope="col" class="align-middle text-center">Мод</th>
                    <th scope="col" class="align-middle text-center">Кол-во</th>
                    <th scope="col" class="align-middle text-center">Карта</th>
                    <th scope="col" class="align-middle text-center">Действия</th>
                </tr>
                </thead>
                <tbody>
                    {% for part in training.parts %}
                        <tr {% if part.isEnded == true %} class="table-success" {% else %} class="table-danger" {% endif %}>
                            <th scope="row" class="align-middle text-center">{{ part.name }}</th>
                            <td class="align-middle text-center">{{ part.modePrefix }}</td>
                            <td class="align-middle text-center">{{ part.value }} {{ part.modePrefix|lower }}</td>
                            <td class="align-middle text-center">{{ part.map.name }}</td>
                            <td class="align-middle text-center">
                                <a
                                    class="btn {% if part.isEnded == true %}btn-danger{% else %}btn-success{% endif %}"
                                    href="{{ path('training.part.toggleIsEnded', {'id': part.id}) }}"
                                >
                                    {% if part.isEnded == true %}Открыть{% else %}Закрыть{% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}