{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        <img src="{{ player.avatar }}" width="100%" height="100%" alt="...">
                    </div>
                    <div class="col-6">
                        <h3> {{ player.nickname }}</h3>
                        <h5 style="font-size: 14px;">Level: <span class="h5" style="text-align: center">{{ player.game.skillLevel }}</span></h5>
                        <h5 style="font-size: 14px;">Elo: <span class="h5" style="text-align: center">{{ player.game.elo }}</span></h5>

                        <hr>
                        <h5 style="font-size: 14px;">To level {{ player.game.skillLevel + 1 }}:</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ player.game.eloPercentageToNextLevel }}%;" aria-valuenow="{{ player.game.eloPercentageToNextLevel }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="row">
                            <div class="col-2">{{ player.game.eloToPrevisionLevel }}</div>
                            <div class="col-8"></div>
                            <div class="col-2">{{ player.game.eloToNextLevel }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="card-group">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success" style="text-align: center; font-weight: bold;">Статистика (сегодня)</div>
                        <div class="card-body">
                            <div style="text-align: center">
                                <h5 style="font-size: 14px;">Сыгранно матчей: </h5>
                                <p style="font-size: 20px;">{{ matchesStatistics.today.total }}</p>
                            </div>
                            <hr>
                            <div style="text-align: center">
                                <h5 style="font-size: 14px;">Побед / Поражений</h5>
                                <p style="font-size: 20px;">{{ matchesStatistics.today.wins }} / {{ matchesStatistics.today.loses }}</p>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">Средний рейтинг: <span style="font-weight: bold; font-size: 20px;">{{ matchesStatistics.today.averageKd }}</span></div>
                    </div>
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success" style="text-align: center; font-weight: bold;">Статистика (вчера)</div>
                        <div class="card-body">
                            <div style="text-align: center">
                                <h5 style="font-size: 14px;">Сыгранно матчей: </h5>
                                <p style="font-size: 20px;">{{ matchesStatistics.yesterday.total }}</p>
                            </div>
                            <hr>
                            <div style="text-align: center">
                                <h5 style="font-size: 14px;">Побед / Поражений</h5>
                                <p style="font-size: 20px;">{{ matchesStatistics.yesterday.wins }} / {{ matchesStatistics.yesterday.loses }}</p>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">Средний рейтинг: <span style="font-weight: bold; font-size: 20px;">{{ matchesStatistics.yesterday.averageKd }}</span></div>
                    </div>
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success" style="text-align: center; font-weight: bold;">Статистика (месяц)</div>
                        <div class="card-body">
                            <div style="text-align: center">
                                <h5 style="font-size: 14px;">Сыгранно матчей:</h5>
                                <p style="font-size: 20px;">{{ matchesStatistics.month.total }}</p>
                            </div>
                            <hr>
                            <div style="text-align: center">
                                <h5 style="font-size: 14px;">Побед / Поражений</h5>
                                <p style="font-size: 20px;">{{ matchesStatistics.month.wins }} / {{ matchesStatistics.month.loses }}</p>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-success">Средний рейтинг: <span style="font-weight: bold; font-size: 20px;">{{ matchesStatistics.month.averageKd }}</span></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row row-cols-1 row-cols-md-6 g-4 mt-2">
            <div class="col">
                <div class="card h-100 border-secondary">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Матчей</h5>
                        <h1 class="card-text" style="text-align: center;">{{ player.statistics.matches }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-secondary">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Побед</h5>
                        <h1 class="card-text" style="text-align: center;">{{ player.statistics.wins }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 {% if player.statistics.isGoodWinRate %} border-success {% else %} border-danger {% endif %}">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Процент побед</h5>
                        <h1 class="card-text" style="text-align: center;">{{ player.statistics.winRate }} %</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 {% if player.statistics.isGoodAverageKdRatio %} border-success {% else %} border-danger {% endif %}">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Средний КД</h5>
                        <h1 class="card-text" style="text-align: center;">{{ player.statistics.averageKdRatio }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-secondary">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-size: 16px;">Попаданий в голову</h5>
                        <h1 class="card-text" style="text-align: center;">{{ player.statistics.headshots }}</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 {% if player.statistics.isGoodAverageHeadshots %} border-success {% else %} border-danger {% endif %}">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-size: 9px;">Средний процент попаданий в голову</h5>
                        <h1 class="card-text" style="text-align: center;">{{ player.statistics.averageHeadshots }} %</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <table class="table" id="maps-table">
                <thead>
                <tr>
                    <th style="font-size: 10px; text-align: center;" scope="col">Дата</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">Карта</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">Счет карты</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">K - A - D</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">В голову ( % в голову )</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">3х / 4х / 5х убийств</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">MVPs</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">K/D Рейтинг</th>
                    <th style="font-size: 10px; text-align: center;" scope="col">K/R Рейтинг</th>
                </tr>
                </thead>
                <tbody>
                {% for match in matchesStatistics.matches %}
                    <tr>
                        <th style="font-size: 8px;" class="{% if match.isWin %} table-success {% else %} table-danger {% endif %}" align="center" scope="row" style="font-size: 10px;">{{ match.finishedAt }}</th>
                        <td style="font-size: 12px; font-weight: bold;" class="{% if match.isWin %} table-success {% else %} table-danger {% endif %}" align="center">{{ match.map }}</td>
                        <td style="font-size: 12px; font-weight: bold;" class="{% if match.isWin %} table-success {% else %} table-danger {% endif %}" align="center">{{ match.score }}</td>
                        <td style="font-size: 12px;" align="center">{{ match.kills }} - {{ match.assists }} - {{ match.deaths }}</td>
                        <td style="font-size: 12px;" align="center">{{ match.headshots }} ({{ match.headshotsPercentage }}%)</td>
                        <td style="font-size: 12px;" align="center">{{ match.tripleKills }} / {{ match.quadroKills }} / {{ match.pentaKills }}</td>
                        <td style="font-size: 12px;" align="center">{{ match.mvps }}</td    >
                        <td style="border-left: 2px solid black;font-size: 13px;" class="{% if match.isGoodKdRatio %} table-success {% else %} table-danger {% endif %}" align="center">{{ match.kdRatio }}</td>
                        <td style="border-left: 2px solid black; border-right: 2px solid black; font-size: 13px;" class="{% if match.isGoodKrRatio %} table-success {% else %} table-danger {% endif %}" align="center">{{ match.krRatio }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row mt-5">
            <div class="col-3">
                <div class="list-group" style="width: 100%" id="list-tab" role="tablist">
                    {% for segment in player.statistics.segments %}
                        <a style="text-align: center;" class="inline-block list-group-item list-group-item-action" id="list-{{ segment.id }}-list" data-bs-toggle="list" href="#list-{{ segment.id }}" role="tab" aria-controls="{{ segment.label }}">
                            <img src="{{ segment.image }}" width="32px" height="24px"/>
                            {{ segment.label }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                    {% for segment in player.statistics.segments %}
                        <div class="tab-pane fade show" id="list-{{ segment.id }}" role="tabpanel" aria-labelledby="list-{{ segment.id }}-list">
                            <div class="card-group">
                                <div class="card" style="border-bottom: 0; border-left: 0;">
                                    <div class="card-body">
                                        <p class="card-title"><span style="font-size: 12px;"> Статистика карты: </span> {{ segment.label }}</p>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Количество матчей:</span> <span class="alert-primary"> {{ segment.matches}} </span> </li>
                                            <li><span style="font-size: 10px;">Количество раундов:</span> <span class="alert-primary"> {{ segment.rounds }} </span></li>
                                            <li><span style="font-size: 10px;">Количетсво MVP:</span> <span class="alert-primary"> {{ segment.mvps }} </span></li>
                                            <li><span style="font-size: 10px;">среднее количество MVP за игру:</span> <span class="{% if segment.isGoodAverageMvps %} alert-success {% else %} alert-danger {% endif %}"> {{ segment.averageMvps }} </span></li>
                                            <li><span style="font-size: 10px;">Количество побед:</span> <span class="alert-primary"> {{ segment.wins }} </span></li>
                                            <li><span style="font-size: 10px;">Общий процент побед:</span> <span class="{% if segment.isGoodWinRate %} alert-success {% else %} alert-danger {% endif %}"> {{ segment.winRate }}%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Количество убийств</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Общее число убийств:</span> <span class="alert-primary"> {{ segment.kills}} </span> </li>
                                            <li><span style="font-size: 10px;">Среднее число убийств:</span> <span class="{% if segment.isGoodAverageKills %} alert-success {% else %} alert-danger {% endif %}"> {{ segment.averageKills }} </span></li>
                                        </ul>
                                        <h6 class="card-title">Количество ассистов</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Общее число ассистов:</span> <span class="alert-primary">{{ segment.assists}}</span></li>
                                            <li><span style="font-size: 10px;">Среднее число ассистов:</span> <span class="{% if segment.isGoodAverageAssists %} alert-success {% else %} alert-danger {% endif %}"> {{ segment.averageAssists }} </span></li>
                                        </ul>
                                        <h6 class="card-title">Количество смертей</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Общее число смертей:</span> <span class="alert-primary"> {{ segment.deaths }} </span> </li>
                                            <li><span style="font-size: 10px;">Среднее число смертей:</span> <span class="{% if segment.isGoodAverageDeaths %} alert-success {% else %} alert-danger {% endif %}"> {{ segment.averageDeaths }} </span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Количество выстрелов в голову</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Общее число:</span> <span class="alert-primary"> {{ segment.headshots }} </span> </li>
                                            <li><span style="font-size: 10px;">Средний процент выстрелов в голову:</span> <span class="{% if segment.isGoodAverageHeadshots %} alert-success {% else %} alert-danger {% endif %}">{{ segment.averageHeadshots }} % </span></li>
                                            <li><span style="font-size: 10px;">Среднее кол-во попаданий в голову за матч:</span> <span class="alert-primary"> {{ segment.headshotsPerMatch }} </span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Убийств за раунд</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Разница в убийствах за раунд:</span> <span class="alert-primary"> {{ segment.krRatio }} </span> </li>
                                            <li><span style="font-size: 10px;">К/Р Рейтинг:</span> <span class="{% if segment.isGoodAverageKrRatio %} alert-success {% else %} alert-danger {% endif %}"> {{ segment.averageKrRatio }} </span></li>
                                        </ul>
                                        <h6 class="card-title">Убийств к смертям</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Разница в убийствах и смертях:</span> <span class="alert-primary">{{ segment.kdRatio }}</span></li>
                                            <li><span style="font-size: 10px;">К/Д Рейтинг:</span> <span class="{% if segment.isGoodAverageKdRatio %} alert-success {% else %} alert-danger {% endif %}"> {{ segment.averageKdRatio }} </span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-group">
                                <div class="card" style="border-top: 0; border-left: 0;"></div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Количество 3х убийств</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Общее количество:</span> <span class="alert-primary"> {{ segment.tripleKills}} </span> </li>
                                            <li><span style="font-size: 10px;">Среднее количество / матч:</span> <span class="alert-primary"> {{ segment.averageTripleKills }} </span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Количество 4х убийств</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Общее количество:</span> <span class="alert-primary"> {{ segment.quadroKills}} </span> </li>
                                            <li><span style="font-size: 10px;">Среднее количество / матч:</span> <span class="alert-primary"> {{ segment.averageQuadroKills }} </span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">Количество 5х убийств</h6>
                                        <ul class="card-text">
                                            <li><span style="font-size: 12px;">Общее количество:</span> <span class="alert-primary"> {{ segment.pentaKills}} </span> </li>
                                            <li><span style="font-size: 10px;">Среднее количество / матч:</span> <span class="alert-primary"> {{ segment.averagePentaKills }} </span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-5"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        (new bootstrap.Tab(document.querySelector('#list-tab a:first-child'))).show();

        $('#maps-table').DataTable({
            'searching': false,
            'lengthChange': false,
            'info': false,
            'ordering': false,
            'pagingType': 'numbers',
        });
    </script>
{% endblock %}